{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
<div id="content-wrapper">
    <div class="container-fluid ">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        <h4>Tentang SurPre</h4>
        <p>Aplikasi SP merupakan aplikasi untuk menilai prospek online suatu desain produk teknologi dari hasil
            kreativitas start-up company.Prospek online merupakan peluang suatu produk ketika didistribusikan atau
            dipasarkan dalam pasar online.</p>

        <div class="text-center ml-3 mr-3">
            <div class="mb-2">
                <a type="button" class="btn btn-primary btn-block" href="{%url 'home'%}">Beranda</a>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}