{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
<div id="content-wrapper">
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <div class="text-center mb-2 ml-3 mr-3">
            <img src="{%static 'images/logo.JPG'%}"></img>
            <p>Aplikasi Prediksi Produk Berprospek Pasar Online</p>
        </div>

        <div class="text-center ml-3 mr-3">
            <div class="mb-2">
                <a type="button" href="{%url 'score'%}" class="btn btn-primary  btn-block">Penilaian</a>
            </div>
            <div class="mb-2">
                <a type="button" href="{%url 'about'%}" class="btn btn-primary  btn-block" >Tentang SurPre</a>
            </div>
            <div class="mb-2">
                <a type="button" href="{%url 'scoreattribute'%}" class="btn btn-primary  btn-block">Atribut Penilai</a>
            </div>
            <div class="mb-2">
                <a type="button" href="{%url 'scorescale'%}" class="btn btn-primary  btn-block">Skala Penilaian</a>
            </div>
            <div class="mb-2">
                <a type="button" href="{%url 'scorelevel'%}" class="btn btn-primary  btn-block">Skor Level</a>
            </div>
            <div class="mb-2">
                <a type="button" href="{%url 'scorehistory'%}" class="btn btn-primary  btn-block">Riwayat Penilaian</a>
            </div>
            
            
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}