{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
<div id="content-wrapper">
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        <h4 class="ml-3 mr-3">Penilaian</h4>
        <form id="score-form" action="/surpre/scorepost" method="POST">
            {% csrf_token %}
            <div class="ml-3 mr-3">
                <div class="form-label-group mb-1">
                    <input type="text" class="form-control" id="startupname" placeholder="Nama Start-Up/UMKM"
                        value="{{startupname}}" name="startupname" autofocus>
                    <label for="startupname">Nama Start-Up/UMKM</label>
                </div>
                <div class="form-label-group mb-1">
                    <input type="text" class="form-control" id="productname" placeholder="Nama Produk"
                        value="{{productname}}" name="productname" autofocus>
                    <label for="productname">Nama Produk</label>
                </div>
                <p class="small">Tanggal prediksi: {{calculatedate}}</p>
            </div>

            <div class="accordion mb-1 mr-3 ml-3 small" id="accordionid">
                <div class="mb-1">
                    <button class="btn btn-secondary btn-sm btn-block collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        User Sentiment State
                    </button>
                    <div class="collapse mb-1" id="collapseOne">
                        <div class="card-body" data-parent="#accordionid">
                            <p>Skala Penilaian: (1) sangat tidak lengkap; (2) tidak lengkap; (3) cukup lengkap; (4)
                                lengkap; (5) sangat lengkap </p>
                            {%for sentimentattribute in sentimentattributes%}
                            <div class="row">
                                <div class="col-sm">
                                    <p class="mb-1">{{sentimentattribute.name}}:
                                        {% for choice in choices %}
                                        <div class="form-check form-check-inline ">
                                            <input class="form-check-input " type="radio"
                                                name="inlineRadioOptions{{sentimentattribute.id}}" id="inlineRadio1"
                                                value="{{ choice.value }}"
                                                {%if sentimentattribute.value is choice.value %}checked{%endif%}>
                                            <label class="form-check-label "
                                                for="inlineRadio1">{{ choice.value }}</label>
                                        </div>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <button class="btn btn-secondary btn-sm btn-block collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                        data-parent="#accordionid">
                        Informasi Start-up Company
                    </button>
                    <div class="collapse" id="collapseTwo" data-parent="#accordionid">
                        <div class="card-body">
                            <p>Skala Penilaian: (1) sangat tidak lengkap; (2) tidak lengkap; (3) cukup lengkap; (4)
                                lengkap; (5) sangat lengkap </p>
                            {%for infostartupattribute in infostartupattributes%}
                            <div class="row">
                                <div class="col-sm">
                                    <p class="mb-1">{{infostartupattribute.name}}:
                                        {% for choice in choices %}
                                        <div class="form-check form-check-inline ">
                                            <input class="form-check-input " type="radio"
                                                name="inlineRadioOptions{{infostartupattribute.id}}" id="inlineRadio1"
                                                value="{{ choice.value }}"
                                                {%if infostartupattribute.value is choice.value %}checked{%endif%}>
                                            <label class="form-check-label "
                                                for="inlineRadio1">{{ choice.value }}</label>
                                        </div>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <button class="btn btn-secondary btn-sm btn-block collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                        data-parent="#accordionid">
                        Informasi Platform Company
                    </button>
                    <div class="collapse" id="collapseThree" data-parent="#accordionid">
                        <div class="card-body">
                            <p>Skala Penilaian: (1) sangat tidak lengkap; (2) tidak lengkap; (3) cukup lengkap; (4)
                                lengkap; (5) sangat lengkap </p>
                            {%for infoplatformattribute in infoplatformattributes%}
                            <div class="row">
                                <div class="col-sm">
                                    <p class="mb-1">{{infoplatformattribute.name}}:
                                        {% for choice in choices %}
                                        <div class="form-check form-check-inline ">
                                            <input class="form-check-input " type="radio"
                                                name="inlineRadioOptions{{infoplatformattribute.id}}" id="inlineRadio1"
                                                value="{{ choice.value }}"
                                                {%if infoplatformattribute.value is choice.value %}checked{%endif%}>
                                            <label class="form-check-label "
                                                for="inlineRadio1">{{ choice.value }}</label>
                                        </div>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="ml-3 mr-3">
                <div class=" text-center mb-1">
                    <a href="" class="btn btn-danger btn-sm" data-toggle="modal"
                        data-target="#resetScoreModal">Reset</a>
                    <button type="submit" name="calculate" class="btn btn-primary btn-sm">Hitung</button>
                </div>
                <div>
                    <p class="small">User Sentiment: {{sentimentscore}}</br>
                        Informasi Start-up Company: {{infostartupscore}}</br>
                        Informasi Platform Company: {{infoplatformscore}}
                    </p>
                    <p class="small"><strong>Total skor: {{totalscore}}</br>
                            Level sukses: {{scorecategory}}</strong></p>
                </div>
            </div>

            <canvas id="myChart" data-url="{% url 'generate_score_graph' %}"></canvas>

            <div class="text-center ml-3 mr-3 mb-1">
                <a href="" class="btn btn-success btn-sm" data-toggle="modal" data-target="#saveScoreModal">Simpan</a>
            </div>

            <!-- Save Score Modal-->
            <div class="modal fade small" id="saveScoreModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Pilih "Save" untuk simpan. "Cancel" untuk batal.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" name="save">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- R Score Modal-->
            <div class="modal fade small" id="resetScoreModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">Pilih "Continue" untuk reset data, semua data yg sudah diisi akan
                            terhapus. "Cancel" untuk batal.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" name="reset">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
</div>


{% endblock %}
{% block javascript %}
<script>
    $(function () {
        var $scoreGraph = $("#myChart");
        $.ajax({
            url: $scoreGraph.data("url"),
            success: function (data) {
                var ctx = $scoreGraph[0].getContext("2d");
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: data.attrindex,
                        datasets: [{
                            label: 'User Sentiment',
                            borderColor: 'green',
                            pointBackgroundColor: 'green',
                            fill: false,
                            lineTension: 0,
                            data: data.usersentimentvalues,
                        }, {
                            label: 'Info Startup',
                            borderColor: 'orange',
                            pointBackgroundColor: 'orange',
                            fill: false,
                            lineTension: 0,
                            data: data.infostartupvalues,
                        }, {
                            label: 'Info Platform',
                            borderColor: 'blue',
                            pointBackgroundColor: 'blue',
                            fill: false,
                            lineTension: 0,
                            data: data.infoplatformvalues,
                        }]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Score Attribute Values'
                        },
                        scales: {
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Attribute'
                                },
                                ticks: {
                                    min: 0, //min
                                    max: 5, //max 
                                    stepSize: 1
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Score'
                                },
                                ticks: {
                                    min: 0,
                                    max: 5,
                                    stepSize: 1
                                }
                            }],

                        }
                    }
                });

            }
        }
        )
    });
</script>

{% endblock %}