{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
<div id="content-wrapper">
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        
        <h4 >Atribut Penilai</h4>
        <p>Variabel penilaian yang mempengaruhi kinerja prospek online adalah user sentiment state, informasi start-up company, dan informasi platform company.             Setiap variabel memiliki atribut yang harus dinilai oleh start-up sebagai perspektif terhadap desain produk yang akan dipasarkan.
            </p>

        <div class="text-center ml-3 mr-3">
            <div class="mb-2">
                <a type="button" class="btn btn-primary btn-block" href="{%url 'home'%}">Beranda</a>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}