{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
<div id="content-wrapper">
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        <div class="mb-2">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th scope="col">Riwayat Penilaian</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for score in scores%}
                        <tr>
                            <td>
                                <div>
                                <p class="media-body mb-0 small lh-125 border-gray">
                                <strong class="d-block text-gray-dark">{{score.startupname}}</strong>
                                <strong class="d-block text-gray-dark">{{score.productname}}</strong>
                                Skor total: {{score.totalscore}}</br>
                                Waktu prediksi: {{score.calculatedate}}</br>
                                Level skor: {{score.scorecategory}}
                                </p>
                                </div>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center ml-3 mr-3">
            <div class="mb-2">
                <a type="button" class="btn btn-primary btn-block" href="{%url 'home'%}">Beranda</a>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}
{% block javascript %}

{% endblock %}