{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
<div id="content-wrapper">
    <div class="container-fluid">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
            {{ message }}
        </div>
        {% endfor %}

        <h2>Test</h2>
        <div class="text-center ml-3 mr-3">
            <form class="form-horizontal" id="test-form" action="/surpre/getmessage" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Show Message</button>
                </div>
            </form>
        </div>

        <div class="text-center ml-3 mr-3">
            <div class="mb-3">
                <a type="button" class="btn btn-primary btn-lg btn-block" href="{%url 'home'%}">Beranda</a>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}