{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Ganti Sandi
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div>
                            {% include 'includes/bs4_form_all.html' with form=form %}
                            <a type="button" class="btn btn-danger" href="{%url 'home'%}">Batal</a>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}