{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Changed Password Success
                </div>
                <div class="card-body">
                    <span>Your password was successfully updated!</span>
                    
                </div>
                <div class="ml-3 mb-3">
                    <a type="button" class="btn btn-primary" href="{%url 'home'%}">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}