{% extends 'layout/login.html' %}

{% load static %}
{% block body %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="text-center">
                <img src="{%static 'images/logo.JPG' %}" alt="not found">
                <p>Aplikasi Prediksi Produk Berprospek Pasar Online</p>
            </div>
            <div class="card-body">
                <form class="form-horizontal" role="form" method="POST">
                    {% csrf_token %}
                    {% include 'includes/bs4_form_all.html' with form=form %}
                    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in"></i> Login</button>
                </form>
                
                
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $("#id_username").attr("placeholder", "Enter Username");
        $("#id_password").attr("placeholder", "Enter Password");
    </script>
{% endblock %}